<!doctype html>
<html ng-app="middlewareServerApp">
	<head>
		<title>middlewareServerApp</title>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

		<script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.5/dist/js/ngAlertify.js"></script>

		<script src="script.js"></script>
		<script src="services.js"></script>
		<script src="directives.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link rel="stylesheet" type="text/css" href="spinner.css" />
		<meta name="referrer" content="default">
	</head>
	<body ng-controller="MiddlewareServerController as ctrl" id="middlewareServerController">
		<div ng-if="!ctrl.authenticationToken">
			<div class="" style="color: floralwhite;">
				<center>
					<h1>Authentication failed</h1>					
				</center>
			</div>
		</div>

		<div ng-if="ctrl.authenticationToken">
			<center>
				<h1>Available calls</h1>
				<p>Salesforce id: {{ctrl.authenticationToken}}</p>
				<p>Extension ids: {{ctrl.extensionIds}}</p>
				<form>					
					<button class="btn btn-primary btn-lg btn-info">Add call</button>
				</form>
			</center>
		</div>
	</body>
</html>
